body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
}

main {
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 14px;
    padding: 20px;
}
/* BEGIN TOP MENU STYLING */ 
header .header-menu{
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-menu a{
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #0000ff;
    padding: 0 10px;
  }
  header .header-menu a:hover{
    font-weight: 700;
    color: #ff5253;
  }
  /* END TOP MENU STYLING */ 
  /* BEGIN GLOBAL LOGO STYLING */ 
  header .logo{
    background: blue;
    border: 1px solid #0000ff;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    display: flex;
  }
  header .logo .name{
    background: blue;
    border: 12px solid #ffffff;
    border-radius:50px;
    text-decoration: none;
    color: white;
  }
  header .logo p{
    background: lightskyblue;
    text-decoration: none;
    color:#0000ff;
    font-size:0.8rem;
    border:1px solid #0000ff;
    text-transform:capitalize;    
    text-align:center;
    font-weight:600;
  }
  ul{
      margin:0px;
      padding:0px;
      margin-left: 50px;
  }
  ul li{
      font-size: 1.0rem;
      color: #393939;
  }
  /* END GLOBAL LOGO STYLING */ 
h1 {
    color: #ff00ff;
    margin: 0px;
    padding: 0px;
    font-size: 1.7rem;
}
h2 {
    color: #ff00ff;
    margin: 0px;
    padding: 0px;
    font-size: 1.1rem;
}
img {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 50%;
}
header {
    margin-top: 5px;
    padding: 20px;
    display: flex;
}
.para-title {
    margin: 0px;
    padding: 0px;
    color: #0000ff;
    font-size: 1.0rem;
    margin-bottom: 5px;
}
p {
    margin: 0px;
    padding: 0px;
    color: #393939;
    font-size: 1.0rem;
    margin-bottom: 10px;
    padding-right: 150px;
    line-height: 1.0;
}
.para-last {
    margin-bottom: 30px;
}
a {
    color: #0000ff;
    text-decoration: none;
}
.section-1 {
    border: 1px solid #494949;
    border-radius: 10px;
    margin: 50px 100px;
    padding: 20px;
    background-color: #eeeeee;

}
.section-2 {    
    margin: 50px 100px;
    padding: 20px;
    /* background-color: #E6E6FA; */
    /* background-color:#dbf1ff; */
    /* background-color: #E6E6FA; */
    /* background-color: mintcream; */
}
.section-3 {
    margin: 50px 100px;
    padding: 20px;
    /* background-color: mintcream; */
}
.section-5 {
    border: 1px solid #494949;
    border-radius: 10px;
    margin: 50px 100px;
    padding: 20px;
    /* background-color: mintcream; */
    background-color: #eeeeee;
}


/* Tablet View */
@media all and (min-width: 768px) and (max-width: 959px){
    header{
        width:100%;
    }
    main{
        width:100%;
    }
    section{
        width:100%;
    }
    h1{
        width:100%;
    }
    .para-title{
        width:100%;
    }
    .last-para{
        width:100%;
    }
    p{
        width:100%;
    }
    img{
        width:100%;
    }
}
/* Smartphone View */
@media all and (max-width: 767px){    
    img{
        width:100%;
    }
    header{
        width:100%;
    }
    main{
        width:100%;
    }
    section{
        width:100%;
    }
    h1{
        width:100%;
    }
    .para-title{
        width:100%;
    }
    .last-para{
        width:100%;
    }
    p{
        width:100%;
    }
    img{
        width:100%;
    }
    p{
        margin:0px;
        padding:0px;
        color:#393939;
        font-size:1.0rem;
        margin-bottom:5px;
    }
} 
